body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, sans-serif;

    background:
        linear-gradient(
            135deg,
            #ffe8b6,
            #fff3d6
        );

    color: #4b2e00;
}


h1 {
    margin-top: 40px;
    font-size: 42px;
}


h2 {
    font-size: 32px;

    background: white;

    padding: 15px 40px;

    border-radius: 20px;

    box-shadow:
        0 5px 15px rgba(0,0,0,0.15);
}


#cookie {

    margin-top: 40px;

    width: 250px;
    height: 250px;

    border-radius: 50%;

    border: none;

    font-size: 120px;

    cursor: pointer;

    background: #c98232;

    box-shadow:
        0 15px 30px rgba(0,0,0,0.25);

    transition: 0.1s;

    user-select: none;
    
    -webkit-user-select: none;
}


#cookie:active {

    transform: scale(0.9);

}


.floating {

    position: absolute;

    font-size: 32px;

    font-weight: bold;

    color: #8b4a2b;

    text-shadow:
        2px 2px 5px rgba(0,0,0,0.25);

    pointer-events: none;

    user-select: none;

    animation: floatUp 0.9s ease-out forwards;

}


@keyframes floatUp {

    0% {

        opacity: 0;

        transform:
            translate(-50%, -50%)
            translateY(0)
            scale(0.7);

    }


    30% {

        opacity: 1;

        transform:
            translate(-50%, -50%)
            translateY(-20px)
            scale(1.25);

    }


    100% {

        opacity: 0;

        transform:
            translate(-50%, -50%)
            translateY(-100px)
            scale(0.9);

    }

}

body {
    -webkit-user-select: none;
    user-select: none;
}

#cookie {
    -webkit-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    user-drag: none;

    touch-action: manipulation;
}

.floating {
    pointer-events: none;
    user-select: none;
}
